fastapi
uvicorn
python-dotenv
langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
openai
chromadb
pypdf
python-docx
pdfminer.six
unstructured
unstructured[docx]
unstructured[pdf]
supabase
faiss-cpu
tiktoken
